In [1]:
import pandas as pd
import _pickle as cPickle

#### 读取文件

In [2]:
df_data = cPickle.load(
    open('./data/df_data.pkl','rb')
)
df_data.head()

   user_id location  age     item_id  rating
0        2      usa    3  0195153448       0
1        7      usa    0   034542252       0
2        8   canada    0  0002005018       5
3        8   canada    0  0060973129       0
4        8   canada    0  0374157065       0

In [3]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1149772 entries, 0 to 1149771
Data columns (total 5 columns):
user_id     1149772 non-null int64
location    1149772 non-null object
age         1149772 non-null int32
item_id     1149772 non-null object
rating      1149772 non-null int32
dtypes: int32(2), int64(1), object(2)
memory usage: 43.9+ MB

#### 划分数据集 70%训练集 30%测试集

In [ ]:
# random.sample 随机取样

In [4]:
import random

In [7]:
random.seed(123)
text_index_s = random.sample(
    df_data.index.tolist(),
    int(len(df_data) * 0.3)
)
text_index_s

[109814,
 561359,
 182843,
 854047,
 559003,
 225863,
 80014,
 795081,
 1124497,
 696669,
 714705,
 108845,
 334836,
 283236,
 707194,
 700021,
 514144,
 343464,
 3503,
 914936,
 183738,
 791873,
 146542,
 13830,
 661565,
 940198,
 213986,
 92038,
 194541,
 298162,
 264764,
 44535,
 611952,
 903112,
 1000180,
 556419,
 984178,
 77056,
 639835,
 720292,
 1094021,
 1012843,
 433822,
 1105356,
 661154,
 26315,
 835165,
 1075319,
 910974,
 1129357,
 1019502,
 1091796,
 879747,
 785428,
 1069686,
 66776,
 380559,
 173245,
 1021114,
 549217,
 356781,
 702337,
 706564,
 820391,
 153701,
 957909,
 812972,
 704865,
 34200,
 396491,
 184879,
 762346,
 26904,
 738016,
 480519,
 850854,
 1115679,
 1050689,
 125255,
 603355,
 1037627,
 489419,
 1141207,
 1014626,
 372432,
 322461,
 1124870,
 932183,
 793961,
 967407,
 92547,
 21290,
 282544,
 957015,
 405121,
 44058,
 537630,
 738297,
 570278,
 910727,
 881553,
 745,
 227794,
 131300,
 1070219,
 744617,
 186203,
 173865,
 908486,
 17954,
 1123656,
 791588,
 154107,
 1146267,
 847684,
 61104,
 676243,
 550586,
 990926,
 69271,
 702190,
 868371,
 730578,
 49895,
 343636,
 878786,
 134734,
 301956,
 780370,
 492754,
 164367,
 119871,
 1087784,
 812035,
 1127295,
 642071,
 306476,
 610679,
 816335,
 772775,
 265226,
 1121809,
 708259,
 1084444,
 250748,
 349808,
 810016,
 906351,
 130140,
 285245,
 953660,
 43227,
 733037,
 943139,
 946127,
 637126,
 899696,
 59261,
 332560,
 1093855,
 681273,
 1083897,
 1079444,
 288088,
 720520,
 1048832,
 219734,
 1143907,
 773850,
 471658,
 713201,
 194735,
 569903,
 1061791,
 510109,
 426292,
 675402,
 554798,
 835023,
 90229,
 1049723,
 168530,
 413337,
 1059336,
 418380,
 35987,
 407189,
 562560,
 484291,
 178467,
 664856,
 175617,
 715431,
 1127600,
 279901,
 1120263,
 284050,
 1014935,
 1032400,
 835413,
 59191,
 538657,
 1019467,
 714125,
 830080,
 470076,
 1051213,
 264463,
 12500,
 1036988,
 720150,
 256515,
 109964,
 756328,
 966286,
 758835,
 882401,
 661665,
 752186,
 454231,
 941719,
 719392,
 403639,
 378905,
 801897,
 130950,
 869746,
 787134,
 1049571,
 556750,
 366747,
 789377,
 772836,
 145037,
 620545,
 256537,
 556617,
 1054510,
 675773,
 115157,
 798144,
 108221,
 814571,
 626029,
 225372,
 976325,
 680935,
 508920,
 934119,
 557662,
 921114,
 721532,
 520960,
 955223,
 1050664,
 576761,
 707114,
 102275,
 382113,
 258661,
 41758,
 897832,
 1041148,
 276592,
 1001016,
 1122197,
 89674,
 986307,
 1136472,
 296855,
 683338,
 775486,
 463170,
 67431,
 971833,
 1057208,
 605469,
 29229,
 672395,
 810551,
 477263,
 131356,
 531338,
 597882,
 352364,
 872534,
 749995,
 891240,
 91029,
 27200,
 1041885,
 345546,
 415741,
 97771,
 565077,
 1100527,
 347977,
 1114073,
 406967,
 634918,
 1048237,
 980191,
 470048,
 592334,
 1106898,
 193270,
 216484,
 928435,
 1142866,
 585733,
 409571,
 1092000,
 142134,
 822887,
 852309,
 940689,
 232674,
 126147,
 907352,
 914382,
 1084838,
 747563,
 322642,
 1034354,
 282193,
 407811,
 443820,
 506066,
 78762,
 512709,
 436574,
 154014,
 846516,
 54238,
 22976,
 864494,
 675113,
 1146990,
 62809,
 87748,
 517014,
 913653,
 611074,
 389919,
 637921,
 236389,
 592546,
 681184,
 444619,
 1081071,
 54455,
 758189,
 320601,
 977053,
 471720,
 868825,
 465671,
 1070707,
 911428,
 819301,
 396273,
 818071,
 161624,
 1042144,
 89327,
 601433,
 291971,
 997501,
 224059,
 264196,
 255861,
 964908,
 740050,
 36537,
 933298,
 1092348,
 740307,
 605566,
 760831,
 447476,
 819118,
 99059,
 221725,
 1066443,
 198929,
 681289,
 173582,
 431910,
 805900,
 377060,
 878265,
 264549,
 996491,
 294801,
 11146,
 340925,
 180998,
 694210,
 67719,
 205964,
 307042,
 459429,
 959669,
 902206,
 421152,
 848645,
 125043,
 118215,
 318132,
 239885,
 967488,
 189346,
 281709,
 86357,
 752736,
 921644,
 432745,
 501516,
 493109,
 904503,
 716087,
 299906,
 187491,
 20009,
 611709,
 686569,
 840353,
 724681,
 480043,
 127664,
 121540,
 135482,
 231375,
 523609,
 604122,
 491725,
 262383,
 1687,
 1139035,
 552101,
 882632,
 771216,
 777227,
 273156,
 874231,
 69671,
 606766,
 733699,
 657401,
 6892,
 735140,
 1061919,
 6079,
 616845,
 167530,
 793819,
 385169,
 682915,
 932641,
 219400,
 1119979,
 416757,
 836914,
 148076,
 401981,
 430634,
 751340,
 896262,
 1008449,
 594122,
 1142270,
 342581,
 812204,
 56025,
 546023,
 65258,
 338387,
 404069,
 766551,
 385881,
 211420,
 286015,
 212640,
 567175,
 254291,
 154333,
 757303,
 119078,
 534461,
 757390,
 272820,
 528632,
 861400,
 194544,
 545223,
 1089301,
 250353,
 1121839,
 253657,
 691618,
 601670,
 646787,
 921714,
 492782,
 11221,
 196228,
 237492,
 211657,
 924725,
 814234,
 752392,
 378105,
 277462,
 812471,
 730,
 871071,
 439680,
 503279,
 8960,
 874948,
 271879,
 175857,
 366271,
 1124340,
 559272,
 883535,
 352631,
 818167,
 640838,
 136144,
 49969,
 255885,
 825624,
 558081,
 112323,
 1140006,
 394254,
 650814,
 653065,
 1147987,
 709294,
 47523,
 304645,
 646161,
 597447,
 419355,
 895433,
 444527,
 1043320,
 94302,
 886512,
 137703,
 322871,
 356838,
 99285,
 466357,
 131556,
 941570,
 398080,
 840368,
 910220,
 1121554,
 765728,
 156459,
 453377,
 188095,
 921317,
 89614,
 1121836,
 653176,
 65505,
 436695,
 74733,
 327544,
 1101688,
 206803,
 106452,
 863570,
 990900,
 806012,
 699942,
 382605,
 848726,
 898912,
 217962,
 183103,
 91237,
 452969,
 319263,
 285083,
 633261,
 765021,
 1069771,
 882484,
 551957,
 594903,
 861875,
 385935,
 1118852,
 1109686,
 192149,
 4978,
 302044,
 1089983,
 212087,
 952204,
 516509,
 1005376,
 61762,
 779435,
 621299,
 976012,
 783233,
 596045,
 1129327,
 710147,
 416666,
 354801,
 83209,
 786209,
 109864,
 203064,
 1029344,
 781087,
 883687,
 371620,
 219616,
 152751,
 485551,
 804665,
 284784,
 1062166,
 208527,
 1023643,
 1102436,
 485971,
 1101458,
 1043396,
 703065,
 661239,
 872957,
 560817,
 708507,
 1008496,
 370053,
 493413,
 214148,
 110598,
 1081654,
 301385,
 773880,
 84976,
 294237,
 308638,
 350728,
 837626,
 375029,
 522242,
 1066677,
 383039,
 1019013,
 1048855,
 10991,
 986913,
 326666,
 580262,
 734385,
 1058912,
 920159,
 471446,
 140275,
 895225,
 990655,
 831120,
 668110,
 99155,
 900474,
 873334,
 185073,
 686426,
 929899,
 972748,
 30341,
 234151,
 79704,
 739630,
 765748,
 671750,
 499782,
 1149754,
 998463,
 715449,
 489815,
 68495,
 387247,
 265647,
 941170,
 424322,
 983346,
 898770,
 29876,
 730205,
 262216,
 564486,
 747551,
 1141674,
 651711,
 149932,
 725600,
 431650,
 98373,
 247675,
 269563,
 1084426,
 21081,
 1019358,
 1080897,
 881715,
 838210,
 1047647,
 134457,
 395178,
 384724,
 732095,
 480006,
 690151,
 869687,
 1024044,
 245292,
 830302,
 153605,
 753034,
 1068851,
 787618,
 214983,
 410952,
 539302,
 187985,
 253860,
 772147,
 366816,
 398503,
 172810,
 137151,
 885524,
 940566,
 915974,
 938218,
 84673,
 869504,
 108104,
 196960,
 627310,
 1064306,
 823297,
 789417,
 696949,
 771291,
 732272,
 132346,
 698591,
 388873,
 253950,
 56545,
 931959,
 821739,
 1048758,
 673920,
 69142,
 429117,
 601889,
 662863,
 602012,
 318152,
 670651,
 989202,
 756439,
 474776,
 1120703,
 72267,
 987566,
 326563,
 436186,
 692428,
 504832,
 997963,
 464807,
 654636,
 341123,
 412899,
 972134,
 1011474,
 693777,
 998308,
 937273,
 971488,
 565547,
 915108,
 615375,
 166356,
 825550,
 977247,
 206661,
 675497,
 802724,
 1112313,
 271197,
 488947,
 120296,
 337667,
 872923,
 1067939,
 931441,
 571915,
 492963,
 609368,
 366935,
 1091089,
 497956,
 875022,
 173847,
 808617,
 1148637,
 132492,
 772276,
 976831,
 282847,
 352816,
 722030,
 269181,
 293044,
 638183,
 872316,
 323973,
 336192,
 952491,
 562512,
 486553,
 411430,
 622232,
 401121,
 103150,
 648223,
 402254,
 938155,
 53999,
 379389,
 332318,
 698432,
 338213,
 683223,
 82865,
 210899,
 510396,
 86585,
 728612,
 451989,
 175258,
 366484,
 968530,
 912529,
 360797,
 198188,
 1099292,
 106377,
 497123,
 213959,
 869164,
 326679,
 498099,
 643532,
 358249,
 944903,
 268112,
 773413,
 838469,
 47282,
 1022339,
 652032,
 908495,
 905702,
 334966,
 301381,
 403577,
 479885,
 627810,
 924923,
 1060676,
 306722,
 413855,
 333149,
 1110303,
 353721,
 487363,
 1045670,
 248936,
 198066,
 634702,
 371650,
 34206,
 1046159,
 849686,
 485076,
 485994,
 905554,
 163568,
 562565,
 527432,
 623014,
 557870,
 495074,
 317657,
 428469,
 398744,
 18562,
 189848,
 859949,
 1075705,
 634375,
 1023988,
 148905,
 389049,
 974997,
 677793,
 1058551,
 151076,
 914491,
 1141980,
 650380,
 201003,
 945582,
 51170,
 296587,
 555883,
 700745,
 266862,
 924954,
 980983,
 634185,
 244015,
 1038214,
 1006276,
 735650,
 781706,
 260931,
 483990,
 751646,
 533716,
 560773,
 1105305,
 193499,
 217048,
 19277,
 727195,
 784726,
 944158,
 938337,
 812435,
 315791,
 374101,
 503888,
 376309,
 696965,
 434083,
 950254,
 301236,
 511392,
 898230,
 779934,
 791880,
 337612,
 541850,
 768051,
 829422,
 1121091,
 907689,
 11869,
 484354,
 995680,
 472817,
 481443,
 324567,
 721185,
 932828,
 671763,
 7845,
 977803,
 706265,
 952390,
 113574,
 497935,
 47926,
 544254,
 279500,
 568045,
 382396,
 1030814,
 382315,
 333850,
 507412,
 ...]

In [8]:
df_data_text = df_data.loc[
    text_index_s
]
df_data_text.head()

        user_id location  age     item_id  rating
109814    27462      usa    0  1587492695       0
561359   137190   france    3  0552997234       8
182843    42721   canada    3  0671024108       8
854047   208829   canada    0  0140503897       0
559003   136348      usa    4  0807220299       9

In [10]:
df_data_text.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 344931 entries, 109814 to 473426
Data columns (total 5 columns):
user_id     344931 non-null int64
location    344931 non-null object
age         344931 non-null int32
item_id     344931 non-null object
rating      344931 non-null int32
dtypes: int32(2), int64(1), object(2)
memory usage: 13.2+ MB

In [13]:
df_data_training = df_data[
    ~df_data.index.isin(text_index_s)
]
df_data_training.head()

   user_id location  age     item_id  rating
0        2      usa    3  0195153448       0
1        7      usa    0   034542252       0
2        8   canada    0  0002005018       5
3        8   canada    0  0060973129       0
4        8   canada    0  0374157065       0

In [14]:
df_data_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804841 entries, 0 to 1149771
Data columns (total 5 columns):
user_id     804841 non-null int64
location    804841 non-null object
age         804841 non-null int32
item_id     804841 non-null object
rating      804841 non-null int32
dtypes: int32(2), int64(1), object(2)
memory usage: 30.7+ MB

#### 保存数据

In [17]:
cPickle.dump(
    df_data_text,open('./data/df_data_text.pkl','wb')
)
cPickle.dump(
    df_data_training,open('./data/df_data_training.pkl','wb')
)